
<div class="container2 carousel">
    <div class="slide">
      <div class="product-box">
        <div class="img">
          <img src="../../../assets/img/bmw.jpg" alt="">
        </div>
        <div class="details">
          <p class="name">BMW X5</p>
          <p class="price">100DT/JOUR</p>
        </div>
        <div class="button">
          <a href="#" class="add-btn">Read More</a>
        </div>
      </div>
      <div class="product-box">
        <div class="img">
          <img src="../../../assets/img/citroen.webp" alt="">
        </div>
        <div class="details">
          <p class="name">CITROEN C3</p>
          <p class="price">80DT/JOUR</p>
        </div>
        <div class="button">
          <a href="#" class="add-btn">Read More</a>
        </div>
      </div>
      <div class="product-box">
        <div class="img">
          <img src="../../../assets/img/fiat.jpeg" alt="">
        </div>
        <div class="details">
          <p class="name">FIAT 500L</p>
          <p class="price">60DT/JOUR</p>
        </div>
        <div class="button">
          <a href="#" class="add-btn">Read More</a>
        </div>
      </div>
      <div class="product-box">
        <div class="img">
          <img src="../../../assets/img/kia.jpg" alt="">
        </div>
        <div class="details">
          <p class="name">KIA RIO</p>
          <p class="price">60DT/JOUR</p>
        </div>
        <div class="button">
          <a href="#" class="add-btn">Read More</a>
        </div>
      </div>
      <div class="product-box">
        <div class="img">
          <img src="../../../assets/img/symbol.png" alt="">
        </div>
        <div class="details">
          <p class="name">SYMBOL</p>
          <p class="price">40DT/JOUR</p>
        </div>
        <div class="button">
          <a href="#" class="add-btn">Read More</a>
        </div>
      </div>
      
      
    </div>
  </div>
