<html>
<div class="container">
    <img src="../../../assets/img/background.png" alt="Norway" style="width:100%;">
    <div class="text-block">
      <h1>Welcome!</h1>
      <ul class="ckeckedText">
        <li>
      <fa-icon [icon]="faCkeck" class="check"></fa-icon>
      <h2>You can cancel or change most reservations for free up to 48 hours<br> before picking up the vehicle.</h2>
    </li>
    <li>
      <fa-icon [icon]="faCkeck" class="check"></fa-icon>
      <h2>Know exactly what you are paying.</h2>
    </li>
      </ul>
      <div class="logo">
        <img  src="../../../assets/img/logo.png"  class="responsive">
        </div>
        <div class="buttons">
          <button class="btn1"> Add Car </button>
          <button class="btn2"> Vehicles Models </button>
        </div>
    </div>
   
    </div>
</html>